.carousel-img {
  width: 146px;
  height: 224px;
  transition: 0.5s;
}
.carousel-img:hover {
  width: 156px;
  height: 234px;
  cursor: pointer;
}

.test {
  width: 150px;
}
.react-multi-carousel-item {
  width: 150px;
}
.carousel-container {
  width: 75%;
  padding: 1rem 1.5rem;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.2), 5px 0px 5px rgba(0, 0, 0, 0.2),
    0px 5px 5px rgba(0, 0, 0, 0.2), -5px 0px 5px rgba(0, 0, 0, 0.2);
}
.test-01 {
  display: flex;
  justify-content: center;
  position: relative;
  /* Apply shadows on all four sides */
}

.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
  /* Your custom styles go here */
  background-color: black;
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
  /* Add any other styles you want */
  position: absolute;
  left: 0;
  overflow: hidden;
}

.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
  /* Your custom styles go here */
  background-color: black;
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
  /* Add any other styles you want */
  position: absolute;
  right: 0;
  overflow: hidden;
}

@media (max-width: 768px) {
  .carousel-img {
    margin: 0;
    padding: 0;
  }
  .carousel-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
