.checkoutitem-author,
.checkoutitem-title {
  color: black;
}
.wrapper-checkout-item {
  display: flex;
  justify-content: center;
}

.checkout-item-container {
  display: flex;
  justify-content: space-between;
  width: 950px;
  border-bottom: 2px solid rgb(214, 214, 214);
  padding: 1rem 0;
}
.checkout-delivery {
  display: flex;
  gap: 1rem;
}
.checkout-img-and-info {
  display: flex;
  gap: 1rem;
}
.price-and-quantity {
  display: flex;
  gap: 8em;
}
.input-quantity {
  width: 4rem;
  height: 2rem;
  font-size: 1.2em;
  padding: 0.2rem 0;
  padding-left: 1rem;
  border: 2px solid rgb(214, 214, 214);
}
.checkout-img-item {
  width: 250px;
}

@media screen and (max-width: 768px) {
  /* Adjust styles for small screens here */
  .checkout-item-container {
    width: 100%;
    flex-direction: column;
  }
  .checkout-img-and-info {
    flex-direction: column;
  }
  .price-and-quantity {
    display: flex;
    gap: 1em;
    padding: 0 1rem;
  }
  .checkoutitem-info-div {
    width: 390px;
    display: flex;
    gap: 0.8rem;
    padding: 1rem;
    flex-direction: column;
  }
  .item-div {
    width: 200px;
  }
  .checkout-delivery {
    margin: 0.8rem 0;
  }
  .img-div-checkout {
    display: flex;
    justify-content: center;
  }
}
