/* Product Div Wrapper */
.product-div-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 3rem 0;
}

/* Product Info */
.product-info {
  display: flex;
  justify-content: space-between;
  width: 950px;
  padding: 1rem 0;
  margin: 1rem auto;
  border-bottom: 2px solid rgb(214, 214, 214);
}

/* Item Div */
.item-div {
  width: 950px;
  margin: 0 auto;
}

/* Product Text Styles */
.p-price,
.p-quantity,
.quantity-and-price,
.p-item {
  color: black;
  font-weight: 600;
  font-size: 1.1em;
}

/* Quantity and Price */
.quantity-and-price {
  display: flex;
  gap: 8rem;
}

.p-price {
  margin-right: 10rem;
}

.p-quantity {
  margin-right: 0.8rem;
}

/* Trash Icon */
.trash-icon {
  cursor: pointer;
}

/* Payment Div */
.payment-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Checkout Button */
.checkout-btn {
  width: 150px;
  background-color: black;
  border: none;
  padding: 14px 20px;
  font-weight: 600;
  font-size: 1.2em;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 0.5rem;
}

/* Stripe Section */
.stripe {
  width: 950px;
  display: flex;
  justify-content: end;
}

.stripe img {
  width: 500px;
}

/* Total Payment Div */
.total-payment-div {
  width: 950px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  margin-right: 2.2rem;
}

.total-p {
  margin-top: 1.2rem;
  color: black;
  font-weight: 600;
  font-size: 1.2em;
}
/* Media Query for Small Screens */
@media screen and (max-width: 768px) {
  /* Adjust styles for small screens here */
  .product-info {
    display: none;
  }
  .quantity-and-price {
    width: 200px;
    gap: 1rem;
  }
  .stripe {
    width: 200px;
    justify-content: center;
  }
  .stripe img {
    width: 400px;
    margin-left: 12rem;
  }
  .payment-div {
    width: 200px;
    align-items: center;
    justify-content: center;
  }
  .total-payment-div {
    width: 300px;
    justify-content: center;
    align-items: center;
  }
  .product-div-wrapper {
    margin: 0;
  }
}
