.wrapper-store-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem 0;
}

.store-container {
  margin: 1rem auto;
  border: solid 1px rgb(196, 196, 196);
  padding: 2rem;
  width: 400px;
  height: 520px;
}

.book-img-store {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.store-container span {
  color: black;
}
.price-delivery-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-delivery-div div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.delivery-span {
  font-weight: 600;
  font-size: 1rem;
}

.add-cart-btn {
  background-color: rgb(108, 176, 6);
  border: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 1rem;
}
.add-btn-big:hover {
  padding: 12px 22px;
}
.add-cart-btn:hover {
  background-color: rgb(83, 136, 5);
}

.book-title {
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
}

.book-author {
  font-size: 0.9rem;
  color: rgb(93, 93, 93);
}
.book-price {
  font-weight: 600;
}
.sub-cart-btn {
  background-color: red;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 1rem;
}
.sub-cart-btn:hover {
  background-color: rgb(180, 4, 4);
}
.quantity-span {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1.2rem;
}
.div-btns {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1200px) {
  .wrapper-store-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem 0;
  }
}

@media (max-width: 818px) {
  .wrapper-store-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 2rem 0;
  }
}
